# This file is a template for the .env file that will be used by the application.
# The .env file must be created in the root of the project and must contain the following variables.
# The values of the variables must be replaced by the corresponding values of the environment where the application will be deployed.
# To activate or deactivate the different modes, the value of the variable must be changed to 1/True (ON) or 0/False (OFF) respectively.

#FLASK CONFIG
FLASK_DEBUG=0

#JWT SECRET KEY
SECRET_KEY=000000000000000000000000000000000000000
CRYPTO_KEY=AAAAAAAA0000000000AAAAAAAAAAA000000000=
CRYPTO_KEY_ENDS_EQUAL=1

#FLASK RUN CONFIG
FLASK_RUN_PORT=443

#SSL CONFIG
SSL_CERT_PATH=/ssl/cert/file_cert.pem
SSL_KEY_PATH=/ssl/key/file_key.pem

#OR FOR MYSQL
DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASS=pass
DATABASE_HOST=host.bbdd.com
DATABASE_PORT=0000

#IF TEST PERFORMANCE IS 1
DATABASE_USER_ROOT=root_user
DATABASE_PASS_ROOT=root_pass

#BROKER CONFIG
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

#REDIS CONFIG
REDIS_HOST=localhost
REDIS_PORT=6379

#API CONFIG
API_PREFIX=api/v1
API_TITLE=Booking API
API_VERSION=v1
OPENAPI_VERSION=3.0.3
OPENAPI_URL_PREFIX=/
OPENAPI_SWAGGER_UI_PATH=/swagger-ui
OPENAPI_SWAGGER_UI_URL=https://cdn.jsdelivr.net/npm/swagger-ui-dist/

#Password Config Generator
PASSWORD_SIZE=8

#Session Tokens Expiration Time
EXPIRE_TOKEN_TIME=30 # minutes
EXPIRE_ACCESS=5 # seconds

#Status Constants
PENDING_STATUS=P
CONFIRMED_STATUS=C
DONE_STATUS=D
CANCELLED_STATUS=X

#Roles Constants
ADMIN_ROLE=A
LOCAL_ROLE=L
USER_ROLE=U

#Week Days Constants
WEEK_DAYS=MO-TU-WE-TH-FR-SA-SU

#Time Constants
TIMEOUT_CONFIRM_BOOKING=60 # minutes

#Params File Name
PARAM_FILE_NAME=file

#Image Types
IMAGE_TYPE_GALLERY='gallery'
IMAGE_TYPE_LOGOS='logos'

#Allowed Image Extensions
ALLOWED_EXTENSIONS='png,jpg,jpeg'

#Images Folder
IMAGES_FOLDER=images

#Pages Folder
PAGES_FOLDER=pages

#Pages Name
EMAIL_CONFIRMATION_PAGE=email_confirmation.html
EMAIL_CONFIRMED_PAGE=email_confirmed.html
EMAIL_CANCELLED_PAGE=email_cancelled.html

#Keywords for Pages
KEYWORDS_PAGES={"CONFIRMATION_LINK": "{confirmation_link}", "BOOKING_TOKEN": "{booking_token}", "CLIENT_NAME": "{client_name}", "LOCAL_NAME": "{local_name}", "DATE": "{date}", "TIME": "{time}", "SERVICE": "{service}", "COST": "{cost}", "ADDRESS-MAPS": "{address_maps}", "ADDRESS": "{address}", "PHONE_CONTACT": "{phone_contact}", "TIMEOUT_CONFIRM_BOOKING": "{timeout_confirm_booking}", "CANCEL_LINK": "{cancel_link}", "EMAIL_CONTACT": "{email_contact}", "WHATSAPP_LINK": "{whatsapp_link}", "WEBSITE": "{website}"}

#Admin identifier
ADMIN_IDENTITY=744656b1e8a24f998685134efabe2f3f

#Algorithm for JWT
JWT_ALGORITHM=HS256

#SSL Certification Config
CERT_SSL=cert.pem
KEY_SSL=key.pem

#Timeout before cancel a booking
MIN_TIMEOUT_CONFIRM_BOOKING=5 # minutes

#Timeout before retry send email if fail
RETRY_SEND_EMAIL=120 # minutes

#TEST MODE CONFIG

#TEST EMAIL MODE
EMAIL_TEST_MODE=False

#TEST PERFORMANCE MODE
TEST_PERFORMANCE=0
OVERWRITE_DATABASE_PERFORMANCE=0
BOOKING_TIMEOUT_PERFORMANCE=5
DATABASE_NAME_PERFORMANCE=data_test_performance
API_PREFIX_PERFORMANCE=api/test
TEST_PERFORMANCE_FOLDER=tests/performance
EXPORT_DATABASE_PERFORMANCE_FILENAME=booking_performance.sql
REDIS_TEST_MODE=False