FLASK_DEBUG = 1

// JWT SECRET KEY

SECRET_KEY = 000000000000000000000000000000000000000

// BBDD CONFIG

DEFAULT_DATABASE_URI = postgresql://user:pass@host:port/name

// OR FOR MYSQL

DATABASE_NAME = name
DATABASE_USER = user
DATABASE_PASS = pass
DATABASE_HOST = host.bbdd.com
DATABASE_PORT = 0000

API_PREFIX = api/v1
API_TITLE = Booking API
API_VERSION = v1
OPENAPI_VERSION = 3.0.3
OPENAPI_URL_PREFIX = /
OPENAPI_SWAGGER_UI_PATH = /swagger-ui
OPENAPI_SWAGGER_UI_URL = https://cdn.jsdelivr.net/npm/swagger-ui-dist/

// Password Config Generator

PASSWORD_SIZE = 8

// Session Tokens Expiration Time

EXPIRE_TOKEN_TIME = 30 // minutes
EXPIRE_ACCESS = 5 // seconds

// Status Constants
PENDING_STATUS = 'P'
CONFIRMED_STATUS = 'C'
DONE_STATUS = 'D'
CANCELLED_STATUS = 'X'

// Week Days Constants

WEEK_DAYS = MO-TU-WE-TH-FR-SA-SU
